/* Candidate Card Styles */
.candidate-card {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
  }
  
  /* Candidate Avatar */
  .candidate-avatar {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  /* Candidate Title */
  .candidate-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  /* Candidate Text */
  .candidate-text {
    padding: 20px;
    text-align: center;
    margin-top: 0;
  }
  
  /* Button Container */
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  /* General Button Styles */
  .button-container button {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  /* Remove Button */
  .reject-button {
    background-color: red;
  }
  
  .reject-button:hover {
    transform: scale(1.1);
    background-color: darkred !important;
  }
  
  /* Save Button */
  .save-button {
    background-color: green;
  }
  
  .save-button:hover {
    transform: scale(1.1);
    background-color: darkgreen !important;
  }  